button{
    border: none;
    border-radius: .8rem;
    background-color: white;
    width: 10rem;
    height: 4rem;

    cursor: pointer;
    transition: 0.1s ease-in;
}

button:hover{
    transform: scale(1.1);
}