
.main-nav{
    font-size: 1.6rem;
}


div.cart{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.cart-icon{
    font-size: 2.6rem;
}


.linkRouter{
    text-decoration: none;
    color: #575757;
}


