@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

:root{
    font-size: 62.5%;
}

body{
    
    height: 100vh;
    background-color: #f0f0f0;
   
}

section.main{
    font-size: 2.4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

section.main h1{
    padding-bottom: .4rem;
    border-bottom: 1px solid black;
}

div.cards{
    display: flex;

}